In [ ]:
Introduction To Python (Basics)
Python
Python is a
general purpose programming language
interpreted, not compiled
both dynamically typed and strongly typed
supports multiple programming paradigms: object oriented, functional
comes in 2 main versions in use today: 2.7 and 3.x
Python's Interactive Console : The Interpreter
The Python interpreter is a console that allows interactive development
We are currently using the Jupyter notebook, which uses an advanced Python interpreter called IPython
This gives us much more power and flexibility

In [4]:
print("Hello Data Science World!")
print("Hellow world")

Hellow world

In [ ]:
CHAPTER 1 - Python Basics

Strings
Creating a String, variable assignments
String Indexing & Slicing
String Concatenation & Repetition
Basic Built-in String Methods
Numbers
Types of Numbers
Basic Arithmetic

CHAPTER 2 - Data Types & Data Structures

Lists
Dictionaries
Sets & Booleans

CHAPTER 3 - Python Programming Constructs

Loops & Iterative Statements
if,elif,else statements
for loops, while loops
Comprehensions
Exception Handling
Modules, Packages,
File I/O operations

In [5]:
CHAPTER - 1 : Python Basics
Let's understand

Basic data types
Variables and Scoping
Modules, Packages and the import statement
Operators

Strings
Strings are used in Python to record text information, such as name. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "Python' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

Concept-Alert
This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

1.) Creating Strings
2.) Printing Strings
3.) String Indexing and Slicing
4.) String Properties
5.) String Methods
6.) Print Formatting

SyntaxError: illegal target for annotation (1664929364.py, line 1)

In [6]:
# Creating a String
# To create a string in Python you need to use either single quotes or double quotes. For example:
# Single word
print('hello')

print() # Used to have a line space between two sentences. Try deleting this line & seeing the difference.

# Entire phrase 
print('This is also a string')

hello

This is also a string

In [8]:
#print your name here
print("Pradeep singh")

Pradeep singh

In [ ]:
Variables : Store your Value in me!

In the code below we begin to explore how we can use a variable to which a string can be assigned. 
This can be extremely useful in many cases, where you can call the variable instead of typing the string everytime. 
This not only makes our code clean but it also makes it less redundant. Example syntax to assign a value or expression to a variable,

variable_name = value or expression

Concept-Alert
Now let's get coding!!. With the below block of code showing how to assign a string to variable.

String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

Concept-Alert
In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python.
Let's create a new object called s and the walk through a few examples of indexing.

In [17]:
# Assign s as a string
s = 'Hello World'
a= 'Hello Python'
#print(s,a)

print(s[2:])

llo World

In [18]:
# Print the object
print(s) 

print()  

# Show first element (in this case a letter)
print(s[0])

print()

# Show the second element (also a letter)
print(s[1])

Hello World

H

e

In [25]:
#print 'l' character from the string
#print 'd' character from the string
print(s[2])
print(s[-1])

l
d

In [ ]:
String Concatenation and Repetition
String Concatenation is a process to combine two strings. It is done using the '+' operator.

Concept-Alert
String Repetition is a process of repeating a same string multiple times

In [32]:
# concatenation (addition)

# s1 = 'Hello'
# s2 = "World"
# print(s1 + " " + s2)

a= 'pradeep'
b= 'singh'
print(a +" " + b)

pradeep singh

In [35]:
# repetition (multiplication)

print("Hello_" * 5)
print("-" * 10)

Hello_Hello_Hello_Hello_Hello_
----------

In [42]:
print("Pradeep " *5)

Pradeep Pradeep Pradeep Pradeep Pradeep

In [43]:
print("pradeep " * 10)

pradeep pradeep pradeep pradeep pradeep pradeep pradeep pradeep pradeep pradeep

In [44]:
print("Data " *15)

Data Data Data Data Data Data Data Data Data Data Data Data Data Data Data

In [ ]:
String Slicing & Indexing
String Indexing is used to to select the letter at a particular index/position.

String Slicing is a process to select a subset of an entire string

In [45]:
s = "Namaste World"

# print sub strings
print(s[1])     #This is indexing.
print(s[8:12])  #This is known as slicing.
print(s[-5:])

# test substring membership
print("World" in s)

a
Worl
World
True

In [46]:
s[-9:-4]

'ste W'

In [48]:
#Print "World" from string
#Print "ste" from the string
print(s[-5:])
print(s[4:7])

World
ste

In [ ]:
Basic Built-in String methods
Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [49]:
s = "Hello World"

print(s.upper()) ## Convert all the element of the string to Upper case..!!
print(s.lower()) ## Convert all the element of the string to Lower case..!!

HELLO WORLD
hello world

In [50]:
print(type(s))

<class 'str'>

In [ ]:
Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

In [51]:
name = "Pradeep"
age = 22
married = True

print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Pradeep, my age is 22, and it is True that I am married
My name is Pradeep, my age is 22, and it is True that I am married

In [55]:
print(f"My name is {name}, my age is {age}")
print(f"my name is {name},my age is {age}, i am married {married}, ")

My name is Pradeep, my age is 22
my name is Pradeep,my age is 22, i am married True,

In [58]:
name = 'pradeep'
age = '22'
married = 'True'
learning ='python'
print(f'my name is {name}, i am married {married},and my age is {age}, i am learning {learning}')

my name is pradeep, i am married True,and my age is 22, i am learning python

In [60]:
my_string ="Hello"
print (f"my_string is {my_string},")

my_string is Hello,

In [61]:
my_string.capitalize()
print(my_string)

Hello

In [62]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
Numbers

Having worked with string we will turn our attention to numbers We'll learn about the following topics:
1.) Types of Numbers in Python
2.) Basic Arithmetic
3.) Object Assignment in Python
Types of numbers
Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

Examples	Number "Type"
1,2,-5,1000	Integers
1.2,-0.5,2e2,3E2	Floating-point numbers
Now let's start with some basic arithmetic.

In [ ]:
Basic Arithmetic

# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

In [1]:
# Powers
2**4

16

In [2]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [3]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

In [4]:
# multiply 15 by 2 and add 10 to it
(15*2+10)

40

In [ ]:
Variable Assignments
Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+


Using variable names can be a very useful way to keep track of different variables in Python.

In [5]:
count = 5

In [6]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [7]:
# Adding the objects
a+a

10

In [8]:
# Reassignment
a = 10

In [9]:
a

10

In [10]:
# Check
a+a

20

In [13]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(x,y,z)

1 2.8 1j

In [18]:
type(1j)

complex

In [20]:
print (5+3*2)

11

In [21]:
my_num=10
my_num/=2
print(my_num)

5.0

In [22]:
print(round(3.5))

4

In [23]:
my_num=2
print(my_num**3)

8

In [ ]:
CHAPTER - 2 : Data Types & Data Structures

Everything in Python is an "object", including integers/floats
Most common and important types (classes)
"Single value": None, int, float, bool, str, complex
"Multiple values": list, tuple, set, dict
Concept-Alert
Single/Multiple isn't a real distinction, this is for explanation
There are many others, but these are most frequently used
Identifying Data Types

In [24]:
a = 42
b = 32.30
c = "Hello"
d = True
print(type(a))#gets type of a
print(type(b))#gets type of b
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [25]:
10 == 10

True

In [ ]:
Lists
Lists can be thought of the most general version of a sequence in Python.

In this section we will learn about:

1.) Creating lists
2.) Indexing and Slicing Lists
3.) Basic List Methods
4.) Nesting Lists
5.) Introduction to List Comprehensions

In [1]:
# Reversing a list
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [11]:
my_list = [1,2,3,4,5,6]
my_list.reverse()
print(my_list)

[6, 5, 4, 3, 2, 1]

In [17]:
# A simple Python function

def fun():
    print("Welcome to GFG")

In [18]:
fun()

Welcome to GFG

In [21]:
def greet():
    print("welcome to homw land")

In [22]:
   greet ()

welcome to homw land

In [23]:
# A simple Python function to check
# whether x is even or odd
def evenOdd(x):
	if (x % 2 == 0):
		print("even")
	else:
		print("odd")


# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

In [35]:
def evenOdd(x):
    if (x % 2 ==0):
        print ("even")
    else:
        print("odd")



# Driver code to call the function
evenOdd(2)
evenOdd(5)

even
odd

In [42]:
# Python program to find the largest
# number among the three numbers

def maximum(a, b, c):

	if (a >= b) and (a >= c):
		largest = a

	elif (b >= a) and (b >= c):
		largest = b
	else:
		largest = c
		
	return largest


# Driven code
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [45]:
x = int(input("What is your markes"))
y = int(input("what is your age"))
print(x + y)

60

In [74]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Number of boys:  5
Number of girls:  10

In [75]:
x,y,z = input("Enter three values: ").split()
print ("number of boys: ", x)
print ("number of girls: ", y)
print ("number of transgender: ", z)

number of boys:  5
number of girls:  10
number of transgender:  90

In [76]:
x,y,z = input("Enter three values ").split()
print ("number of boys ", x)
print ("number of girls ", y)
print ("number of transgender ", z)

number of boys  5
number of girls  10
number of transgender  20

In [77]:
a, b = input("Enter two values: ").split()
print("First number is {} and second number is {}".format(a, b))

First number is 2 and second number is 2

In [78]:
x,y = input("enter two numbers").split()
print("first number is {} and second number is {}". format (a,b) )

first number is 2 and second number is 2

In [81]:
def myFun(*argv):
	for arg in argv:
		print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [82]:
def myFun(**kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [86]:
# A generator function that yields 1 for first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
	yield 1		
	yield 2		
	yield 3		

# Driver code to check above generator function
for value in simpleGeneratorFun():
	print(value)

1
2
3

In [89]:
def genrator():
    yield 1
    yield 2
    yield 3
    yield 4

# Driver code to check above generator function
    for value in genrator():
        print (value)

In [94]:
def add(a,b):
    return(a+b)
print(add(2,2))

4

In [100]:
# python program to illustrate If else statement
#!/usr/bin/python

i = 20
if (i < 15):
	print("i is smaller than 15")
	print("i'm in if Block")
else:
	print("i is greater than 15")
	print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [102]:
# python program to illustrate If statement

i = 10

if (i > 15):
	print("10 is less than 15")
print("I am Not in if")

I am Not in if

In [103]:
# python program to illustrate If else statement
#!/usr/bin/python

i = 20
if (i < 15):
	print("i is smaller than 15")
	print("i'm in if Block")
else:
	print("i is greater than 15")
	print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [106]:
i = 50
if (i >= 50):
    print("i is equal to 50")
    print(" i am in if block")

else:
    print("i is smaller then 15")
    print("i a not in else block")

i is equal to 50
 i am in if block

In [114]:
# python program to illustrate nested If statement
#!/usr/bin/python
i = 10
	
	# First if statement
	if (i < 15):
		print("i is smaller than 15")
		
	# Nested - if statement
	# Will only be executed if statement above
	# it is true
	if (i < 12):
		print("i is smaller than 12 too")

		if (i >9):
			print("i is greater then 9")

	else:
		print("i is greater than 15")

IndentationError: unexpected indent (3324933487.py, line 6)

In [112]:
i = 10

if (i == 18):

    #First if statement

    if (i <19):
        print ("i is smaller then 12")

        #nested - if statement
        #will only be executed if statement abour is true.

        if (i < 1):
            print ("i is smaller than 11 too")

        else:
            print("i is greater then 12")

In [133]:
# Python program to illustrate if-elif-else ladder
#!/usr/bin/python

# i = 20
# if (i == 10):
# 	print("i is 10")
# elif (i == 15):
# 	print("i is 15")
# elif (i == 20):
# 	print("i is 20")
# else:
# 	print("i is not present")


# i = 20
# if (i == 10):
#     print("i is 10")
# elif(i == 15):
#     print("i is 15")
# elif(i == 20):
#     print("i is 20")

# else:
#     print("i is not present")

i is 20

In [142]:
# Python program to illustrate if-elif-else ladder
#!/usr/bin/python

i = 20

if (i == 10):
      print("i is 10")
elif(1== 15):
      print("i is 15")
elif(i == 20):
      print("i is 20")

      
else:
      print("i is not present")

i is 20

In [148]:
# Python program to illustrate
# Iterating over a list
# l = ["geeks", "for", "geeks"]

# for i in l:
# 	print(i)


# l1 = ["apple", "mango", "asasa"]

# for items in l1:
#     print(items)

apple
mango
asasa

In [149]:
# loop from 1 to 10
for i in range(1, 11):

	# If i is equals to 6,
	# continue to next iteration
	# without printing
	if i == 6:
		continue
	else:
		# otherwise print the value
		# of i
		print(i, end=" ")

1 2 3 4 5 7 8 9 10

In [150]:
my_list = [x**2 for x in range(3)]
print(my_list)

[0, 1, 4]

In [154]:
# try:
#     x = 10/0
# except:
#     print("An error occured")

my_list = [x for x in range (5)]
print(my_list)

[0, 1, 2, 3, 4]

In [155]:
def add_numbers(x, y=2):
    return x + y
print(add_numbers(3) )

5