# Python Data Structures and Boolean
    Boolean
    Boolean and Logical Operators
    Lists
    Comparison operators
    Dictionaries
    Tuples
    Sets

Boolean Variables

    Boolean values are the two constant objects False and True.

    They are used to represent truth values (other values can also be considered false or true).

    In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

    The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

    They are written as False and True, respectively.

In [12]:
print(True,False)

True False

In [13]:
type(True)

bool

In [14]:
type(False)

bool

In [20]:
my_str='Pradeeps s 92'

In [22]:
my_str.count('Pradeeps s 92')

1

In [24]:
my_str.isalnum()

False

In [25]:
my_str.istitle()

False

In [26]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('2')) #test if string endswith a d
print(my_str.startswith('P')) #test if string startswith H

False
False
False
False
False
False
False
True
True

# Boolean and Logical Operators

In [27]:
True and True

True

In [29]:
True and False

False

In [30]:
True or True

True

In [33]:
str_example='Hello World'
my_str='Pradeep'

In [34]:
my_str.isalpha() or str_example.isnum()

True

# List (Mutable)
a list is created by placing all the items (elements) inside square brackets [], separated by commas.
It can have any number of items and they may be of different types (integer, float, string etc.)

Python List Methods
They are accessed as list.method().
Using tab we can see the all in built method and pressing shift +Tab we can see the defination of each in built function.

In [35]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

A list can also have another list as an item. This is called a nested list.

In [36]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

Access List Elements

In [37]:
# List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

In [38]:
print(my_list[0])

p

In [39]:
print(my_list[2])

o

In [40]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

In [41]:
# Nested indexing
print(n_list[0][1])

a

In [42]:
print(n_list[1][3])

5

Negative indexing

In [43]:
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

Slice lists in Python

In [44]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

Add/Change List Elements

Lists are mutable i.e one can change add / delete , meaning their elements can be changed unlike string or tuple.

We can use the assignment operator = to change an item or a range of items.

In [45]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

# SETS {}
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [54]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [97]:
set_var={1,2,3,4,3}

In [98]:
set_var

{1, 2, 3, 4}

In [99]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [103]:
## Inbuilt function in sets
set_var.add("Hulk")

In [104]:
print(set_var)

{'Hulk', 'IronMan', 'Avengers', 'Hitman'}

In [105]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [108]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [117]:
#Diffrence update
set2.difference_update(set1)

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [119]:
dic={}

In [120]:
type(dic)

dict

In [121]:
type(dict())

dict

In [122]:
set_ex={1,2,3,4,5}

In [123]:
type(set_ex)

set

In [124]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [125]:
type(my_dict)

dict

In [126]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [127]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [128]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [129]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [130]:

## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [131]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [132]:
my_dict['Car1']='MAruti'

In [133]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

Nested Dictionary

In [134]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [135]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [136]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [137]:
print(car_type['car1']['Mercedes'])

1960

Tuples

In [155]:
## create an empty Tuples
my_tuple=tuple()

In [156]:
type(my_tuple)

tuple

In [157]:
my_tuple=()

In [158]:
type(my_tuple)

tuple

In [159]:
my_tuple=("Pradeep","Ankur","John")

In [160]:
my_tuple=('Hello','World')

In [161]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [162]:
type(my_tuple)

tuple

In [152]:
## Inbuilt function
my_tuple.count('Pradeep')

0

In [163]:
my_tuple.index("World")

1

Note:
Mutable Objects are:
    List, Dictionary,set
Immutable objects are:
    int,float,complex,string,tuple